@use "config/variables" as var;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var.$primary-font;
  font-weight: 300;

  &.overflow-hidden {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class$="__container"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

[class$="__section"] {
  padding: 5rem 0;
}
