// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;

// Fonts
$primary-font: "Prompt", sans-serif;

// Colors
$primary-color: #381990;
$secondary-color: #cdff6b;
$black: #111;
$white: #ffffff;
$gray: #f5f5f5;
